parameters:
	autoload_files:
		- %rootDir%/../../../src/autoload.php

	excludes_analyse:
		- %rootDir%/../../../src/autoload.php
		- %rootDir%/../../../src/ConnectorHelper.php
		- %rootDir%/../../../src/libs/json.php
